{
  "swagger": "2.0",
  "info": {
    "description": "Nuthatch api - an api for birding",
    "version": "2.0.1",
    "title": "Nuthatch api",
    "contact": {
      "email": "lastelmsoft@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "nuthatch.lastelm.software",
  "basePath": "/",
  "tags": [
    {
      "name": "birds",
      "description": "All about birds",
      "externalDocs": {
        "description": "To get an API Key, visit",
        "url": "./getKey.html"
      }
    }
  ],
  "schemes": ["https", "http"],
  "paths": {
    "/v2/birds": {
      "get": {
        "tags": ["birds"],
        "summary": "Get Birds List v2",
        "description": "Retrieve a paged list of birds",
        "operationId": "getBirdsV2",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page to fetch",
            "required": false,
            "default": 1,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of page to fetch. Max 100",
            "required": false,
            "default": 25,
            "type": "integer"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Common name",
            "required": false,
            "type": "string"
          },
          {
            "name": "sciName",
            "in": "query",
            "description": "Scientific name",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Scientific order",
            "required": false,
            "type": "string"
          },
          {
            "name": "family",
            "in": "query",
            "description": "Scientific family",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Conservation status",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Geographical region",
            "required": false,
            "type": "string",
            "enum": ["North America", "Western Europe"]
          },
          {
            "name": "hasImg",
            "in": "query",
            "description": "Filter by only birds that have images",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "operator",
            "in": "query",
            "description": "operator to use",
            "required": false,
            "type": "enum",
            "enum": ["AND", "OR"],
            "default": "AND"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/PagedResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          },
          "401": {
            "description": "Unauthorized. Try providing an API-Key header"
          }
        }
      }
    },
    "/birds": {
      "get": {
        "deprecated": true,
        "tags": ["birds"],
        "summary": "Get Birds List",
        "description": "Retrieve a list of birds - Limited to 200",
        "operationId": "getBirds",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Common name",
            "required": false,
            "type": "string"
          },
          {
            "name": "sciName",
            "in": "query",
            "description": "Scientific name",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Scientific order",
            "required": false,
            "type": "string"
          },
          {
            "name": "family",
            "in": "query",
            "description": "Scientific family",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Conservation status",
            "required": false,
            "type": "string"
          },
          {
            "name": "operator",
            "in": "query",
            "description": "operator to use",
            "required": false,
            "type": "enum",
            "enum": ["AND", "OR"],
            "default": "AND"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Bird"
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          },
          "401": {
            "description": "Unauthorized. Try providing an API-Key header"
          }
        }
      }
    },
    "/birds/{birdId}": {
      "get": {
        "tags": ["birds"],
        "summary": "Get Bird",
        "description": "Bird. Includes recording links from Xeno Canto",
        "operationId": "getRecordings",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "birdId",
            "in": "path",
            "description": "Bird id",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/BirdPlus"
            }
          },
          "400": {
            "description": "Invalid status value"
          },
          "401": {
            "description": "Unauthorized. Try providing an API-Key header"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "API-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "definitions": {
    "Bird": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "format": "byte"
        },
        "sciName": {
          "type": "string",
          "format": "byte"
        },
        "order": {
          "type": "string",
          "format": "byte"
        },
        "family": {
          "type": "string",
          "format": "byte"
        },
        "status": {
          "type": "string",
          "format": "byte"
        },
        "region": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": ["North America", "Western Europe"]
          }
        },
        "wingspanMin": {
          "type": "integer",
          "format": "int64"
        },
        "wingspanMax": {
          "type": "integer",
          "format": "int64"
        },
        "lengthMin": {
          "type": "integer",
          "format": "int64"
        },
        "lengthMax": {
          "type": "integer",
          "format": "int64"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        }
      },
      "json": {
        "name": "Bird"
      }
    },
    "BirdPlus": {
      "allOf": [
        {
          "$ref": "#/definitions/Bird"
        },
        {
          "type": "object",
          "properties": {
            "recordings": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Recording"
              }
            }
          },
          "json": {
            "name": "BirdPlus"
          }
        }
      ]
    },
    "Recording": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "birdId": {
          "type": "integer",
          "format": "int64"
        },
        "sp": {
          "type": "string",
          "format": "byte"
        },
        "ssp": {
          "type": "string",
          "format": "byte"
        },
        "en": {
          "type": "string",
          "format": "byte"
        },
        "file": {
          "type": "string",
          "format": "byte"
        },
        "length": {
          "type": "string",
          "format": "byte"
        },
        "rec": {
          "type": "string",
          "format": "byte"
        },
        "bird-seen": {
          "type": "string",
          "format": "byte"
        },
        "rmk": {
          "type": "string",
          "format": "byte"
        }
      },
      "json": {
        "name": "Recording"
      }
    },
    "PagedResponse": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int64"
        },
        "pageSize": {
          "type": "integer",
          "format": "int64"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Bird"
          }
        }
      },
      "json": {
        "name": "PagedResponse"
      }
    }
  }
}
